{% extends 'index.html' %}

{% block content %}
<div class="pricing-4 subpage-header">
    <div class="container w-container">
      <h2 class="subpage-title" data-ix="fade-in-on-load">We'd love to work with you</h2>
      <div class="large page-subtitle" data-ix="fade-in-on-load-2">Below you will see the positions we are currently accepting resumes for. For more information, and instructions on how to apply, follow the link at the bottom of each job listing.</div>
    </div>
  </div>
  <div class="section tint">
    <div class="container w-container">
      <div class="w-row white-pricing-row">
        <div class="w-col w-col-4 white-pricing-column">
          <div class="transparant-pricing-block">
            <div class="pricing-icon-block"><img class="pricing-icon" sizes="(max-width: 991px) 30px, 40px" src="../static/images/Light-On-48.png">
            </div>
            <div class="white-price-title">Systems IT</div>
            <p class="white-pricing-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla.</p><a class="button dark-outline w-button" href="../contact/contact-5.html">Get info</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
