{% extends "index.html" %}

{% block content %}
<div class="portfolio subpage-header">
    <div class="container w-container">
      <h2 class="subpage-title" data-ix="fade-in-on-load">Patented Technology</h2>
      <div class="page-subtitle" data-ix="fade-in-on-load-2">CMRK Inc. manufactures and sells Oleo Binder across the nation. The Oleo Binder is our proprietary bio-polymer comprised of a select group of carbohydrates that have been polymerized. Our unique polymer &amp; patent pending process allows our clients to process their resinous extracts into a free flowing, cold water-soluble powder.</div><a class="button w-button" href="{% url 'contact' %}">Get in touch with us!</a>
    </div>
  </div>
  <div class="section">
    <div class="container w-container">
      <div class="cta-row w-row">
          <div class="cta-title">The Oleo Binder</div>
          <div class="cta-title subtitle">CMRK Inc. works hard to develop exciting new technologies that help industry processors and infusers increase efficiency, automate production, develop new products, scale production, and much more.<br><br>
          Our flag ship product – Oleo Binder - is a new, proprietary, food-safe bio-polymer. We make and sell the Oleo Binder to wholesale processors nationwide. When the Oleo Binder is used in tangent with our patent pending infusion process, our processors are able to streamline product development and production in ways previously not possible. The process uses a proprietary mixture of natural carbohydrates to encapsulate individual cannabinoid molecules in a sphere, forming a ultra fine cold water-soluble powder. This product can in turn be incorporated into any processed food, powdered beverage, or candy.<br><br>
          Cannamark's knowledgable staff will help your company implement our process, and assist you throughout product development.</div>
      </div>
    </div>
  </div>
  <div class="section tint">
    <div class="container w-container">
      <div class="cta-row w-row">
          <div class="cta-title">Infused Powder</div>
          <div class="cta-title subtitle">Take a moment to think about the products you would find at your local grocery store that use a powder in the manufacturing process. You would find a variety of drink mixes, sugars, candies, baked goods, and seasonings. By using our infused powder you can incorporate cannabinoid extracts into any recipe as easily as adding a scoop of flour. The infused powder is cold-water soluble, free-flowing powder, and is manufacturing ready. Whether you have an old family recipe, an original recipe of your own, or would like to collaborate to develop the product you've been dreaming of, we have solution for you.<br><br>
          Infused powder is manufactured by licensed Cannamark Inc. subsidiaries in Washington and California.</div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container w-container">
      <div class="section-title-wrapper">
        <h2 class="section-title">Advantages of Our Technology</h2>
        <!-- <div class="section-description">!</div> -->
      </div>
      <div class="process-tabs-line w-hidden-tiny"></div>
      <div class="process-tabs w-tabs" data-duration-in="300" data-duration-out="100">
        <div class="process-tab-menu w-tab-menu">
          <a class="process-tab-button w--current w-inline-block w-tab-link" data-w-tab="Tab 1">
            <div>Powder Form</div>
          </a>
          <a class="process-tab-button w-inline-block w-tab-link" data-w-tab="Tab 2">
            <div>Solubility</div>
          </a>
          <a class="process-tab-button w-inline-block w-tab-link special" data-w-tab="Tab 3">
            <div>Consistency</div>
          </a>
          <a class="process-tab-button w-inline-block w-tab-link special" data-w-tab="Tab 4">
            <div>Bio-
            availability</div>
          </a>
          <a class="process-tab-button w-inline-block w-tab-link" data-w-tab="Tab 5">
            <div>Automation</div>
          </a>
          <a class="process-tab-button w-inline-block w-tab-link special" data-w-tab="Tab 6">
            <div>Overhead</div>
          </a>
        </div>
        <div class="w-tab-content">
          <div class="process-tab-pane w-tab-pane" data-w-tab="Tab 1">
            <div class="process-tab-row w-row">
              <div class="process-tab-col-left w-col w-col-6">
                <div class="process-tab-title">Using our infused powder to manufacture edibles is cost effective, efficient, and provides consistent, repeatable dosing with increased Bio-Availability.</div>
                
              </div>
              <div class="process-tab-col-right w-col w-col-6">
                <p>If you are unfamiliar with the problems many edible manufacturers face today then ponder the following scenario. Imagine you want to bake infused brownies. The extract you need to add to the brownies has a consistency similar to tree-sap; could you mix in tree-sap with the dry ingredients of your brownies easily? Conventional wisdom would have edible manufacturers dissolve the extract into a fat/oil. Edible manufacturers using that method have no option other than to tediously dose products and struggle to achieve consistency and accurate dosing.
                </p>
              </div>
            </div>
          </div>
          <div class="process-tab-pane w--tab-active w-tab-pane" data-w-tab="Tab 2">
            <div class="process-tab-row w-row">
              <div class="process-tab-col-left w-col w-col-6">
                <div class="process-tab-title">Using our water-soluble infused powder allows edible manufacturers to readily tap into the powder drink mix market as well as many others.
                </div>
              </div>

              <div class="process-tab-col-right w-col w-col-6">
                <p>Infused powder is water-soluble. This means that it will readily dissolve in water. When using conventional extracts a edible manufacturer typically must first dissolve the extract into something such as fat or propylene glycol. Using our water-soluble infused powder allows edible manufacturers to readily tap into the powder drink mix market as well as many others. Water-soluble foods are easier for your body to digest.
                </p>
              </div>
            </div>
          </div>
          <div class="process-tab-pane w-tab-pane" data-w-tab="Tab 3">
            <div class="process-tab-row w-row">
              <div class="process-tab-col-left w-col w-col-6">
                <div class="process-tab-title">Powder allows for superior dosage control.
                </div>
              </div>
              <div class="process-tab-col-right w-col w-col-6">
                <p>Imagine that tree-sap extract once again. If you wanted to weigh out exactly 1mg of the tree-sap on a scale do you think you could do it? How long would it take if you could? Trying to add or remove 1mg of anything can be difficult, and nearly impossible with something that sticks to itself like tree-sap.<br>
                Now imagine you want to weigh out 1mg of our infused powder. You’d be able to remove 1 tiny grain of powder at a time, and you’d know exactly what the dosing will be if you remove that grain.
                </p>
              </div>
            </div>
          </div>
          <div class="process-tab-pane w-tab-pane" data-w-tab="Tab 4">
            <div class="process-tab-row w-row">
              <div class="process-tab-col-left w-col w-col-6">
                <div class="process-tab-title">Our infused powder uses near sub-micron particle sizes.
                </div>
              </div>
              <div class="process-tab-col-right w-col w-col-6">
                <p>Bioavailability is how much of a compound your body can make use of at a given dose. Conventional edibles when taken orally have a bioavailability of about 20%. This means if you consume 100mg your body can only process 20mg (20% of 100mg) of the total 100mg. There are two main factors to focus on when trying to increase the bioavailability of something. The first is solubility of the drug which we discussed previously, and the other is the size of each particle. Our infused powder uses near sub-micron particle sizes. For perspective a single grain of sugar is approximately 100 microns, and a red blood cell is approximately 5 microns.<br>
                The advantages of this decrease in particle size means the end consumer will feel the effects quicker. This is because the bioavailability has been increased.
                </p>
              </div>
            </div>
          </div>
          <div class="process-tab-pane w-tab-pane" data-w-tab="Tab 5">
            <div class="process-tab-row w-row">
              <div class="process-tab-col-left w-col w-col-6">
                <div class="process-tab-title">No need to spend large amounts of your capital on complex or specialized equipment.
                </div>
              </div>
              <div class="process-tab-col-right w-col w-col-6">
                <p>Currently most edible manufacturers have to either re-purpose odd food-processing equipment or have custom equipment designed for their specific use. There is not much existing equipment infrastructure in the food industries that deal with processing a tree-sap like substance.<br>
                Using our infused powder you can take advantage of the vast equipment infrastructure that is used to process powders in the food industry. No need to spend large amounts of your capital on complex &amp; specialized equipment.
                </p>
              </div>
            </div>
          </div>
          <div class="process-tab-pane w-tab-pane" data-w-tab="Tab 6">
            <div class="process-tab-row w-row">
              <div class="process-tab-col-left w-col w-col-6">
                <div class="process-tab-title">Using our infused powder you now only need a staff skilled enough to work in a kitchen.
                </div>
              </div>
              <div class="process-tab-col-right w-col w-col-6">
                <p>Currently in edible manufacturing it can be a big liability to not have trained food scientists, and/or chemists on staff. This is understandable – blending oils to the right ratio, and a deep understanding of science are needed to accurately incorporate a tree-sap like extract into regular food.<br>
                Using our infused powder you now only need a staff skilled enough to work in a kitchen. There is no need for such a high paid staff.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
