{% extends "index.html" %}

{% block content %}
<div class="portfolio subpage-header">
    <div class="container w-container">
      <h2 class="subpage-title" data-ix="fade-in-on-load">Patented Technology</h2>
      <div class="page-subtitle" data-ix="fade-in-on-load-2">The Oleo Binder is our proprietary biopolymer comprised of a select group of carbohydrates. Our patent pending process allows easy processing of resinous extracts into free flowing, cold water-soluble powder. This increases bioavailability of the cannabinoids and makes dosing simple.</div><a class="button w-button" href="{% url 'contact' %}">Get in touch</a>
    </div>
  </div>
  <div class="section">
    <div class="container w-container">
      <div class="cta-row w-row">
          <div class="cta-title">The Oleo Binder</div>
          <div class="cta-title subtitle">Our flagship product – Oleo Binder – is a proprietary, food safe biopolymer. This biopolymer, in conjunction with the patent pending Oleo Process, allows for efficient micro-encapsulation of cannabinoids.  Our process creates a very fine (10-micron avg.), flavor neutral, cold water-soluble powder. We partner with manufacturers to provide Oleo Binder and specialized equipment required to conduct the Oleo Process on their cannabinoid extracts. The resulting infused powder enables scalable production and streamlined product development.</div><br>
          <img class="blueborder" src="../static/images/Oleo_Process.jpg">
      </div>
    </div>
  </div>
  <div class="section tint">
    <div class="container w-container">
      <div class="cta-row w-row">
          <div class="cta-title">Infused Powder</div>
          <div class="cta-title subtitle">Consider the products you might find at your local grocery store that use powders in the manufacturing process. They could be anything from drink mixes and sugars, to candies, baked goods, and seasonings. By using our infused powder, manufacturers can incorporate cannabinoid extracts into any recipe as easily as adding a scoop of flour. Our infused powder is manufacturing-ready and has increased bioavailability due to its particle size and water-solubility<br><br>
          Whether you have an old family recipe, an original of your own, or would like to collaborate to develop the product you've been dreaming of, we have solution for you.</div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container w-container">
      <div class="section-title-wrapper">
        <h2 class="section-title">Advantages of Our Technology</h2>
        <!-- <div class="section-description">!</div> -->
      </div>
      <div class="process-tabs-line w-hidden-tiny"></div>
      <div class="process-tabs w-tabs" data-duration-in="300" data-duration-out="100">
        <div class="process-tab-menu w-tab-menu">
          <a class="process-tab-button w--current w-inline-block w-tab-link special" data-w-tab="Tab 1">
            <div>Powder Form</div>
          </a>
          <a class="process-tab-button w-inline-block w-tab-link" data-w-tab="Tab 2">
            <div>Solubility</div>
          </a>
          <a class="process-tab-button w-inline-block w-tab-link special" data-w-tab="Tab 4">
            <div>Bio-
            availability</div>
          </a>
          <a class="process-tab-button w-inline-block w-tab-link" data-w-tab="Tab 3">
            <div>Consistency</div>
          </a>
          <a class="process-tab-button w-inline-block w-tab-link" data-w-tab="Tab 6">
            <div>Overhead</div>
          </a>
        </div>
        <div class="w-tab-content">
          <div class="process-tab-pane w-tab-pane" data-w-tab="Tab 1">
            <div class="process-tab-row w-row">
              <div class="process-tab-col-left w-col w-col-6">
                <div class="process-tab-title">Using our infused powder to manufacture edibles is cost effective, efficient, and provides consistent, repeatable dosing with increased Bio-Availability.</div>
                
              </div>
              <div class="process-tab-col-right w-col w-col-6">
                <p>Ponder the following scenario. Imagine you want to bake infused brownies: the extract you need to add to the brownies has a consistency similar to tree-sap; could you mix in tree-sap with the dry ingredients of your brownies easily? Conventional wisdom would have edible manufacturers dissolve the extract into a carrier oil. Edible manufacturers using that method have no option other than to tediously dose products to achieve consistency and quality. <br><br> Our powder streamlines your production.
                </p>
              </div>
            </div>
          </div>
          <div class="process-tab-pane w--tab-active w-tab-pane" data-w-tab="Tab 2">
            <div class="process-tab-row w-row">
              <div class="process-tab-col-left w-col w-col-6">
                <div class="process-tab-title">Our water-soluble powder unlocks new product types and improves efficiency of your cannabinoids.
                </div>
              </div>
              <div class="process-tab-col-right w-col w-col-6">
                <p>Our powders are cold water-soluble and shelf stable. This allows manufacturers to readily create powdered drink mixes, dietary supplement powders, and pressed tablets. <br><br>Water-soluble cannabinoids are also more bioavailable than their non-soluble counterparts.
                </p>
              </div>
            </div>
          </div>
          <div class="process-tab-pane w-tab-pane" data-w-tab="Tab 4">
            <div class="process-tab-row w-row">
              <div class="process-tab-col-left w-col w-col-6">
                <div class="process-tab-title">Our infused powder has an average particle size of 10 microns and is cold water-soluble.
                </div>
              </div>
              <div class="process-tab-col-right w-col w-col-6">
                <p>Bioavailability is how much of a compound your body can make use of at a given dose. Conventional edible cannabinoids have a bioavailability of about 20%, so if you consume 100mg your body can only process 20mg of the total. There are two main factors to focus on when trying to increase the bioavailability of something; water-solubility the size of each particle. Our infused powders have an average particle size of 10 microns, which is smaller than the average white blood cell at 25 microns. <br><br> Together, the high solubility and tiny particle size of our powders mean consumers feel the effects faster and stronger compared to other edibles.
                </p>
              </div>
            </div>
          </div>
          <div class="process-tab-pane w-tab-pane" data-w-tab="Tab 3">
            <div class="process-tab-row w-row">
              <div class="process-tab-col-left w-col w-col-6">
                <div class="process-tab-title">Powder allows for superior dosage control.
                </div>
              </div>
              <div class="process-tab-col-right w-col w-col-6">
                <p>Imagine that tree-sap extract once again. If you wanted to weigh out exactly 1mg of the tree-sap on a scale do you think you could do it? How long would it take if you could? Trying to add or remove 1mg of anything can be difficult, and nearly impossible with something that sticks to itself like tree-sap.<br>
                Now imagine you want to weigh out 1mg of our infused powder. You’d be able to remove 1 tiny grain of powder at a time, and you’d know exactly what the dosing will be if you remove that grain.
                </p>
              </div>
            </div>
          </div>
          <div class="process-tab-pane w-tab-pane" data-w-tab="Tab 6">
            <div class="process-tab-row w-row">
              <div class="process-tab-col-left w-col w-col-6">
                <div class="process-tab-title">Using our infused powder you now only need a staff skilled enough to work in a kitchen.
                </div>
              </div>
              <div class="process-tab-col-right w-col w-col-6">
                <p>Conventional methods of manufacturing edibles can be a big liability due to the necessity of having multiple food scientists and chemists on staff. That makes sense if your staff is handling complex mixing and measuring of extracts.<br><br>
                Using our infused powder you only need commercial kitchen staff and a single trained machinery operator – this can substantially reduce overhead.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <br><img class="blueborder" src="../static/images/Oleo_Advantage.jpg">
    </div>
  </div>
{% endblock %}
